@model IEnumerable<TiendaMVCDemo.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de productos</h2>

@foreach (var item in Model)
{
    <div class="col-md-4">
        @Html.DisplayNameFor(o => o.Nombre)
        @Html.DisplayFor(o => item.Nombre)
        <br />
        @Html.ActionLink("Ver", "Detalle", new { id = item.IdProducto })
    </div>
}